.single_news_top img{
    width: 85%;
    height: 205px;
    /* overflow: hidden; */
    object-fit: cover;
}
.single_news_top_name{
    position: relative;
    top: -80px;
    color: white;
    text-align: center;
    padding-right: 15%;
}
.single_news_top_name h1{
    font-size: 2rem;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.5)
}
.single_news_content_out{
    display: flex;
    margin-right: 16%;
    justify-content: center;
    margin-top: 5%;
}
.single_news_content_in{
    width: 65%;
    margin: 0 4%;
}
.single_news_content_in_name{
    text-align: left;
    font-size: 26px;
    line-height: 1.57692;
}
.single_news_content_in_date{
    font-size: 17px;
    padding: 10px;
    line-height: 1.8;
}
